<div class="item-title" *ngFor="let subItem of data.typeContent; let i = index; let l = count;">
  <ng-container *ngIf="collapse ? true : (i <= 2)">
    <span>[{{data.typeLevelName}}]&nbsp;</span>
  </ng-container>
  <ng-template #operation>
    <span *ngIf="i === 2 && l > 3" class="collapseBtn" (click)="toggleCollapse()">
      {{l - 3}}
      <i nz-icon [type]="collapse ? 'up' : 'down'"></i>
    </span>
    <div style="clear:both;"></div>
  </ng-template>
  <ng-container>
    <ng-template #itemContent>
      <span  [innerHTML]='subItem.content[0].name | transformUnderline'>
      </span>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="collapse ? true : (i <= 2)">
    <cds-detail-card [typeLevelName]='data.typeLevelName' [action]='data' [data]='subItem' [itemContent]="itemContent" [operation]="operation"></cds-detail-card>
  </ng-container>
</div>
