<div class="collapse-item">
  <ng-container *ngIf="data">
    <div class="content-item moreDatas">
      <span>[{{data.typeLevelName}}]&nbsp;</span>
      <ng-template #content>
        <span [innerHTML]="data.typeContent[0].content[0].name | transformUnderline">
        </span>
      </ng-template>
      <ng-template #operation>
        <span *ngIf="hasCollapse && data.typeContent.length > 1" class="collapseBtn" (click)="toggleCollapse()">
          {{data.typeContent.length - 1}}
          <i nz-icon [type]="collapse ? 'up' : 'down'"></i>
        </span>
        <div style="clear:both;"></div>
      </ng-template>

      <cds-detail-card [typeLevelName]='data.typeLevelName' [action]='data' [data]='data.typeContent[0]'
        [itemContent]='content' [operation]='operation'></cds-detail-card>
    </div>

    <ng-container *ngIf="!hasCollapse || collapse">
      <ng-container *ngFor="let item of data.typeContent; let itemIndex = index">
        <div *ngIf="itemIndex > 0" class="content-item moreDatas">
          <span>[{{data.typeLevelName}}]&nbsp;</span>
          <ng-template #itemContent>
            <span [innerHTML]='item.content[0].name | transformUnderline'>
            </span>
          </ng-template>
          <cds-detail-card [typeLevelName]='data.typeLevelName' [action]='item' [data]='item'
            [itemContent]='itemContent'></cds-detail-card>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>