<ng-container>
  <div class="wrapper">
    <div class="current-rating" #ratingBox [style.display]="(scale === null || scale === undefined) ? 'none' : 'block'">
      <span class="num" #ratingNum>{{scale | toPercent}}</span>
      <span class="pointer"></span>
    </div>
    <div class="scale-num">
      <span>0</span>
      <span *ngFor="let item of scaleArray">{{item.scale | toPercent}}</span>
    </div>
    <div class="scale">
      <div class="item-box" #scaleItemBox>
        <span class="scale-item svg-cdss-scale" *ngFor="let item of spaceArr"></span>
      </div>
    </div>
    <div class="split-box">
      <span *ngFor="let line of splitLines" class="split-line"></span>
    </div>
    <div class="scale-name">
      <span *ngFor="let item of scaleArray" class="split-name">{{item.name}}</span>
    </div>
  </div>
</ng-container>
