<div class="medical-history">

  <cds-patient-bar class="cdss-card" style="display: block"></cds-patient-bar>

  <cds-card class="history-content" cardTitle='病史' imgClass='svg-cdss-monitor'>
    <ng-container *ngIf="data && data.medicalHistoryItems.length > 0 else medicalHistoryItemNull">
        <div *ngFor="let item of data.medicalHistoryItems" class='medicals'>
            <span class="medical-type">{{item.medicalHistoryName}}</span>
            <span>{{item.medicalHistoryValue}}</span>
          </div>
    </ng-container>
    <ng-template #medicalHistoryItemNull>
      <div class="medicalHistoryItemNull">
        患者在院内暂无既往病史信息
      </div>
    </ng-template>

  </cds-card>

  <div class='cdss-card table-card' *ngIf="data && data.medicalRecordItems && data.medicalRecordItems.length > 0">
    <table class="medical-table">
      <thead>
        <tr>
          <th class='text-left'>
            项目
            <div class="operation">
              <cds-turn-page [preBtnDisabled]='diagnosisIndex === 0'
                [nextBtnDisabled]='diagnosisIndex + turnCount >= data.medicalRecordItems.length'
                (turnPageCb)='historyDiagnosis($event)'></cds-turn-page>
            </div>
          </th>
          <th class="hasBg">{{diagnosisIndexItem.visitTime}}</th>
          <th>{{nextItem ? nextItem.visitTime : "/"}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let typeChild of typeDatas; index as typeI;">
          <tr [class.hasBorder]='i === items.length - 1'
            *ngFor="let item of (typeChild.current.length >= typeChild.next.length ? typeChild.current : typeChild.next) as items; index as i">
            <td class='hasBorder text-left' *ngIf="typeChild.type === '诊断' && i === 0" [attr.rowspan]='items.length'>{{typeChild.current[i]
              ? typeChild.current[i].variableName : typeChild.next[i].variableName}}</td>
            <td class='text-left' *ngIf="typeChild.type !== '诊断'">{{typeChild.current[i] ?
              typeChild.current[i].variableName : typeChild.next[i].variableName}}</td>
            <td class="hasBg">{{typeChild.current[i] ? typeChild.current[i].variableValue : '/'}}</td>
            <td>{{typeChild.next[i] ? typeChild.next[i].variableValue : '/'}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
