<div class="treatment-plan-card">
  <cds-card [cardTitle]='typeLevel1Name' imgClass='svg-cdss-plan'>
    <div class="card-item" *ngFor="let item of resultActionsData"
      [class.flex-column]="item.typeLevel === 'TP-SA' || item.typeLevel ==='TP-MA'">
      <div class="item-title" *ngIf="item.typeLevel === 'TP-MA'">
          <span>[{{item.typeLevelName}}]&nbsp;</span>
        <a class="reference" (click)="handleMAReference()" nz-tooltip nzTitle="此功能暂未开放，敬请期待" nzTrigger="hover" nzPlacement="topRight">引用</a>
      </div>
      <div class="item-child" *ngIf="item.children">
        <ng-container *ngIf="item.typeLevel !== 'TP-MA'">
            <cds-treatment-collapse [data]='item'></cds-treatment-collapse>
        </ng-container>
        <ng-container *ngIf="item.typeLevel === 'TP-MA'">
          <div class='table-content'>
            <table class="table">
              <ng-container *ngFor="let subItem of item.children;index as i;">
                <tr *ngFor="let typeContentItem of subItem.typeContent; let typeConLen = count;first as itemFirst;">
                  <td class="firstTd" [rowSpan]="typeConLen" *ngIf="itemFirst && typeContentItem.content.length > 0">
                    {{subItem.typeLevelName}}
                  </td>
                  <td>
                    <table class="innerTable" *ngIf="typeContentItem.content.length > 0">
                      <tr *ngFor="let contentItem of typeContentItem.content;">
                        <td class="itemsTd">
                          <ng-template #itemContent2>
                            <label nz-checkbox #MACheckbox>
                              <span [innerHTML]='contentItem.name | transformUnderline'></span>
                            </label>
                          </ng-template>
                          <cds-detail-card [typeLevelName]='subItem.typeLevelName' [action]='subItem' [data]='typeContentItem'  [itemContent]="itemContent2"></cds-detail-card>
                        </td>
                      </tr>
                    </table>
                  </td>

                </tr>
              </ng-container>
            </table>
          </div>
        </ng-container>
      </div>
    </div>
  </cds-card>
</div>
