<div class="wrapper">
  <nz-spin class="spin" [nzSpinning]='dataStatus === status.LOADING' nzTip="数据加载中...">
  </nz-spin>
  <div class="mask" *ngIf="dataStatus === status.LOADING"></div>
  <!--数据加载成功，且有数据-->
  <ng-container [ngTemplateOutlet]="componentTemplate" *ngIf="statusExceptLoading === status.NORMAL"></ng-container>

  <!--数据加载成功，但无数据-->
  <!-- <div class="no-data" *ngIf="statusExceptLoading === status.NODATA">
     <div class="info">
       <i class="img"></i>
       <p class="msg">无数据</p>
     </div>
   </div>-->
  <div class="no-data" *ngIf="statusExceptLoading === status.NODATA">
    <div class="info">
      <i class="img svg-cdss-no-explain-data"></i>
      <a class="msg" (click)="toLatestResult()">模型版本已升级，前往查看最新一次预测结果</a>
    </div>
  </div>

  <!--数据加载失败-->
  <div class="error" *ngIf="statusExceptLoading === status.ERROR">
    <div class="info">
      <i class="img"></i>
      <p class="msg">暂无数据</p>
    </div>
    <div class="operation">
      <button nz-button nzType="default" (click)="refreshPage()">刷新</button>
    </div>
  </div>
</div>
