<div class="decision-support scrollbar-y">
  <cds-patient-bar class="patient-card" style="display: block"></cds-patient-bar>
  <cds-data-loading-status [componentTemplate]='mainContent' [dataStatus]='loadingStatus'
    (refresh)='getDecisionSupportData()'>
  </cds-data-loading-status>
  <ng-template #mainContent>
    <div style="height: 100%" *ngIf="hasData">
      <div *ngIf="newInfoType && pageStatus === 0" class="newInfo" (click)="goNewInfo()">
        <span>有新消息<i nz-icon [type]="newInfoDirection ? 'down' : 'up' "></i></span>
      </div>
      <div [style.display]="pageStatus === 0 ? 'block' : 'none'">
        <!-- 诊疗监控 -->
        <cds-diagnosis-monitor class="diagnosis-monitor decision-cdss" [data]='dMData' *ngIf="dMData"
          (historyCb)='historyCb()'>
        </cds-diagnosis-monitor>
        <!-- 推荐诊断 -->
        <cds-recommended-diagnostic class="recommended-diagnostic decision-cdss" [data]='rdData' *ngIf="rdData"
          defaultShowCount='5'>
        </cds-recommended-diagnostic>
        <!-- 病情评估 -->
        <cds-condition-analysis class="illness-evaluate decision-cdss" [data]='caData' *ngIf="caData">
        </cds-condition-analysis>
        <!-- 检查检验 -->
        <cds-check-inspection class="check-inspection decision-cdss" [data]='ciData' *ngIf="ciData">
        </cds-check-inspection>
        <!-- 治疗方案 -->
        <cds-treatment-plan class="treatment-plan decision-cdss" [data]='tpData' *ngIf="tpData"></cds-treatment-plan>

        <!-- 疾病知识 -->
        <cds-disease-knowledge class='disease-knowledge decision-cdss' [data]='jbData' *ngIf="jbData">
        </cds-disease-knowledge>
      </div>

      <!-- 诊疗监控历史 -->
      <div *ngIf="pageStatus === 1" class='dMHistory'>
        <span class="backBtn" (click)="goBack()"><i nz-icon type='left'></i>返回</span>
        <cds-diagnosis-monitor-history></cds-diagnosis-monitor-history>
      </div>
    </div>
  </ng-template>

</div>
<div [ngStyle]="{'display': rightMenuVisible ? 'block' : 'none'}" class="rightMenu">
  <span class="feedback" (click)="feedback()">
    反馈问题
  </span>
</div>
<cds-feedback-modal [visible]='isVisible' [actionId]='actionId' [typeLevelName]='fBTypeLevelName' [content]='fBcontent' (closeCb)='closeFBModal()'></cds-feedback-modal>
