<div class="disease-knowledge">
  <cds-card [cardTitle]='data.typeLevel1Name' imgClass='svg-cdss-check'>
    <ng-container *ngIf="data.actions">
      <div *ngFor="let action of data.actions">
        <div class="content-item" *ngFor="let item of action.typeContent">
          <ng-template #itemContent>
            <span [innerHTML]='item.content[0].name | transformUnderline'></span>
          </ng-template>
          <a class="detail" (click)="detail(item)">详情</a>
          <cds-detail-card  [action]='action' [data]='item' [itemContent]="itemContent" isDisease="true"></cds-detail-card>
        </div>
      </div>
    </ng-container>


    <!-- <div *ngIf="resultActionsData.typeContent && resultActionsData.typeContent.length > defaultShowCount" class="more" (click)="collapseFunc(!collapse)">{{resultActionsData.typeContent.length - defaultShowCount}} <i nz-icon [type]="collapse ? 'up' : 'down'" ></i></div> -->
  </cds-card>
</div>
