<cds-modal [modalTitle]='title' [operations]='operations' (onClose)='closeModal()'>
  <ng-template #title>
    <span><i class="svg-cdss-ai ai-logo"></i>AI评估</span>
  </ng-template>

  <ng-template #operations>
    <!--<button nz-button nzType="default">Default</button>-->
  </ng-template>

  <cds-patient-bar class="cdss-card"></cds-patient-bar>

  <cds-data-loading-status [componentTemplate]="contentTemp" [dataStatus]="dataLoadingStatus.basicData"
                           (refresh)="getAiBasicData(true, someVisitData.modelVersion)">
  </cds-data-loading-status>

  <ng-template #contentTemp>
    <div class="content">
      <div class="left">
        <div class="model">
          <span class="title">{{name}}({{someVisitData.modelVersion}})</span>
          <div class="history-analysis"
               [ngClass]="isOpenTimeLine ? 'opened': 'closed'"
               *ngIf="aiModelBasicData && aiModelBasicData.aiModel && aiModelBasicData.aiModel.modelType && aiModelBasicData.aiModel.modelType !== '1'">
            <button class="opt-bar" (click)="toggleTimeLine()">历史评估<i nz-icon [type]="isOpenTimeLine ? 'up': 'down'"
                                                                      theme="outline"></i></button>
            <cds-time-line class="time-line"
                           [selectIndex]="timeLineData.length-1"
                           [data]='timeLineData'
                           (selectChange)='selectChange($event)'>
            </cds-time-line>
          </div>
        </div>
        <!--危险等级-->
        <cds-danger-rating [scale]="someVisitData.scale"
                           [scaleArray]="aiModelBasicData && aiModelBasicData.aiModel && aiModelBasicData.aiModel.scaleArray">
        </cds-danger-rating>
        <div class="main-variable">
          <div class="title">
            关键变量
            <span class="recommend" *ngIf="isShowRecommend">补全缺失数据会显著提升模型预测准确度</span>
          </div>
          <!--<cds-data-loading-status [componentTemplate]="variableTemplate" [dataStatus]="dataLoadingStatus.variableData"-->
          <!--(refresh)="loadVariableData()"></cds-data-loading-status>-->
          <!--<ng-template #variableTemplate>-->
          <div class="variables" *ngIf="keyVariables">
            <div class="var-item" *ngFor="let item of keyVariables">
              <span>{{item.name}}</span>
              <span [ngClass]="item.exit ? 'svg-cdss-normal' : 'svg-cdss-warning-active'"></span>
              <span class="var-exit" *ngIf="!item.exit">{{item.tips}}</span>
            </div>
          </div>
          <!--</ng-template>-->
        </div>
        <div class="warning-basis">
          <div class="title">预警依据</div>
          <cds-data-loading [componentTemplate]="htmlElement"
                            [dataStatus]="dataLoadingStatus.explainData"
                            (refresh)="loadExplainData(someVisitData.obsTime, someVisitData.modelVersion)"
                            (getLatestResult)="getLatestResult()"></cds-data-loading>
          <ng-template #htmlElement>
            <cds-early-waring-factor [basis]="basis"></cds-early-waring-factor>
          </ng-template>
        </div>
      </div>
      <div class="right">
        <!--历史趋势echarts-->
        <div class="history-trend"
             *ngIf="aiModelBasicData && aiModelBasicData.aiModel && aiModelBasicData.aiModel.modelType && aiModelBasicData.aiModel.modelType === '1'">
          <cds-history-trend [historyData]="scrollHistoryData" [generalData]="generalData"
                             [scaleArray]="aiModelBasicData && aiModelBasicData.aiModel && aiModelBasicData.aiModel.scaleArray"
                             [dataStatus]="dataLoadingStatus.echartsData" (selectChange)="lineChartSelectChange($event)"
                             (visitIdChange)="visitIdChange($event)" (reloadData)="loadEchartsData()">
          </cds-history-trend>
        </div>
        <div class="model-explain">
          <span class="title">模型说明</span>
          <p class="detail">{{aiModelBasicData && aiModelBasicData.aiModel && aiModelBasicData.aiModel.explain}}</p>
        </div>
        <div class="reference">
          <span class="title">参考文献</span>
          <div class="ref-detail"
               *ngIf="aiModelBasicData && aiModelBasicData.aiModel && aiModelBasicData.aiModel.literature">
            <div *ngFor="let item of aiModelBasicData.aiModel.literature; let i = index;">
              <a (click)="toLiteraturePage(item)">{{i + 1}}. {{item.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</cds-modal>
