<div class="recommended-diagnostic">
  <cds-card [cardTitle]='typeLevel1Name' imgClass='svg-cdss-recommended'>
    <div class="content-card" *ngFor="let item of getShowData">
      <ng-template #itemContent>
        <span  [innerHTML]='item.content[0].name | transformUnderline'></span>
      </ng-template>
      <a class="quote" (click)="quote(item.content[0].name)" nz-tooltip nzTitle="此功能暂未开放，敬请期待" nzTrigger="hover" nzPlacement="topRight">引用</a>
      <cds-detail-card [data]='item'  [action]='item' [itemContent]="itemContent"></cds-detail-card>
    </div>
    <div *ngIf="resultActionsData.typeContent && resultActionsData.typeContent.length > defaultShowCount" class="more"
      (click)="collapseFunc(!collapse)">{{resultActionsData.typeContent.length - defaultShowCount}} <i nz-icon
        [type]="collapse ? 'up' : 'down'"></i></div>
  </cds-card>
</div>
